repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx --no-install prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|mjs|cjs|json|css|scss|md|mdx|yaml|yml|html)$
